@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Montserrat:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-sharp-gold {
    @apply bg-clip-text text-transparent bg-gradient-to-br from-yellow-300 via-gold to-yellow-600;
  }
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
}